@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: "Inter", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  min-height: 100vh;
  max-width: none;

  color: #334155;
  --color-primary: #334155;
  --color-primary-foreground: #ffffff;
  --color-primary-hover: #103c7515;
  --color-primary-green: #82ca9e;
  --color-primary-green-foreground: #065f46;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary-foreground {
  color: var(--color-primary-foreground);
}

.hover\:bg-primary\/90:hover {
  background-color: var(--color-primary-hover);
}
.active-bg {
  background-color: #103c7515;
}

.size-default {
  height: 2.5rem; /* 10 * 0.25rem */
  padding-left: 1rem; /* 4 * 0.25rem */
  padding-right: 1rem; /* 4 * 0.25rem */
  padding-top: 0.5rem; /* 2 * 0.25rem */
  padding-bottom: 0.5rem; /* 2 * 0.25rem */
}

.border-input {
  border: 1px solid #e2e8f0;
}

.custom-scrollbar {
  position: relative;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  transition:
    visibility 0.3s,
    opacity 0.3s;
  visibility: hidden;
}

.custom-scrollbar::-webkit-scrollbar-track {
  opacity: 0;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  visibility: visible;
  opacity: 0;
}
.custom-scrollbar:hover::-webkit-scrollbar-track {
  border-radius: 10px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #2e3e4a00;
  border-radius: 4px;
  height: 4px;
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3a434945;
}

.scroll-padding {
  padding-bottom: 4px;
}

@media (max-width: 640px) {
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.highlight {
  background-color: #82ca9e40;
}

.wavesurfer-container .wavesurfer-cursor {
  height: 10px;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"] {
  height: 6px;
  width: 180px;
  cursor: pointer;
  outline: none;
  margin: 0 10px 0;
  border-radius: 24px;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  height: 16px;
  width: 16px;
  margin-top: 0px;
  background-color: transparent;
  border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: white;
}
